<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{{ url_for('main.start_app') }}" style="color: rgb(189,63,49);font-weight:bold">Khan</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        {% if g.user %}
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('auth.logout')}}">{{ g.user.userid }} | (로그아웃)</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('board.link')}}">산출자료 다운로드</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('auth.signup')}}">회원가입</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('auth.login')}}">로그인</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('auth.reset')}}">비밀번호찾기</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>